# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Environment variables
.env.local
.env.*.local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# APK files (optional, si no quieres versionarlos)
*.apk

# Capacitor
android/capacitor-gradle-wrapper/
ios/capacitor-gradle-wrapper/
dist/
